html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-right: 20px;
}

#main {
    width: 1080px;
    margin: 0 auto;
}

.step {
    min-height: 200px;
    display: flex;
}

.step .left {
    flex: 50px 0;
}

.step .decor {
    position: relative;
    height: 100%;
}

.step .right {
    flex: 100% 0;
}

.step .decor::before {
    position: absolute;
    z-index: 1;
    content: '';
    height: 100%;
    width: 2px;
    top: 0;
    left: calc(50% - 2px);
    background-color: #ff0000;
}

.step .decor::after {
    position: absolute;
    z-index: 2;
    content: '';
    height: 12px;
    width: 12px;
    top: 20px;
    left: calc(50% - 7px);
    background-color: blue;
    border-radius: 50%;
}